.info-top {
    height: 232px;
    background-color: #37373E;
}

.info-title {
    color: white;
    font-family: "Muller", sans-serif;
    text-align: left;
    margin-bottom: 48px;
}

.info-title h1 {
    padding-top: 32px;
    font-weight: 700;
    font-size: 24px;
}

.info-title .info-li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.info-title .info-li p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.info-title .info-li img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.info-smiles {
    margin: 0;
    padding: 0;
    display: grid;
}

.info-smiles img {
    width: auto;
    height: auto;
    grid-column: 1;
    grid-row: 1;
}

.info-smiles img:nth-child(1) {
    margin-left: 0px;
    z-index: 5;
}

.info-smiles img:nth-child(2) {
    margin-left: 75px;
    z-index: 4;
}

.info-smiles img:nth-child(3) {
    margin-left: 150px;
    z-index: 3;
}

.info-smiles img:nth-child(4) {
    margin-left: 225px;
    z-index: 2;
}

.info-smiles img:nth-child(5) {
    margin-left: 300px;
    z-index: 1;
}

@media (max-width: 1240px) {
    .info-smiles {
        display: none;
    }
}