

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-y: auto;
  scrollbar-width: none;
  
  margin: 0;
  padding: 0; 
}

.container {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 0 15%;
  width: 100%;

  flex-wrap: nowrap;
  height: 100%;

  position: relative;
}

@media (max-width: 768px) {
  .container {
    padding: 0 5%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 5%;
  }
}