@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-y: auto;
  scrollbar-width: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
  width: 100%;
  max-width: 1200px;
  flex-wrap: nowrap;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10%;
  }

  .links a {
    display: none;
  }

  .aura-logo {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 5%;
  }
}